{% extends 'regbase.html' %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block head %}
Sign in to CTE
{% endblock %}
{% block content %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}
	<p><a href="{% url 'auth_password_reset' %}">{% trans "Forgot Password?" %}</a></p>
  <input class='btn btn-block btn-success' type="submit" value="{% trans 'Sign In' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
{% block lowcontent %}

<p>{% trans "New to CTE" %}? <a href="{% url 'registration_register' %}">{% trans "Create an account" %}</a></p>

{% endblock %}
