{% extends 'index.html' %}

{% block title %}
Courses
{% endblock %}

{% block content %}
<h1>Courses Offered</h1>
<hr>
{% for i in u %}
 <section class="col-lg-6 connectedSortable">
 <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">{{ i.title }} ({{ i.code }})</h3>


            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <ul class="tags">
            <li><a href="#" class="tag">{{ i.category }}</a></li>
            <li><a href="#" class="tag">{{ i.subcategory }}</a></li>
            </ul>
            <p>{{ i.desc }}</p>
            <p><strong>Mentors:</strong>
              {% for k in i.mentorcourse.all %}
              {{ k.mentor.profile.full_name }},
              {% endfor %}
            </p>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <a href="/courses/{{ i.code }}"><button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> More</button></a>
            </div>
          </div>
 </section>
{% endfor %}
{% endblock %}